ul{
    display: inline;
    padding: 0px 10px 0px 10px;
}
button{
    background: navy;
    color: white;
    border: 0;
    padding: 5px 5px 5px 5px;
}
.digi_clock{
    margin: auto;
    padding: 10px;
    text-align: center;
}
.clock_face {
    position: absolute;
    margin: auto;
}
.hour_hand {
    position: absolute;
    margin: auto;
}
.minute_hand {
    position: absolute;
    margin: auto;
}
.second_hand {
    position: absolute;
    margin: auto;
}