table, td{
    border: 2px solid black;
    padding: 10px;
}
table{
    border-spacing: 0px;
    border-collapse: collapse;
}

table tr:nth-of-type(even){
    background-color: bisque
}
input{
    border: 1px solid #c2c2c2;
    outline: none;
    box-shadow: 1px 1px 4px #ebebeb;
    border: 3px;
    padding: .3rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;

}
button{
    background-color: #00408f;
    padding: .5rem .5rem;
    margin:  0px;
    text-decoration: none;
    font-size: .5rem;
    display:inline-block;
    border: none;
    color:white;
    line-height: 1;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus{
    background-color: #0053ba;
}


#blue{
    color: #0053ba;
}